In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from statsmodels.stats.proportion import proportions_ztest

In [2]:
df = pd.read_csv("file:///C://Users/Lenovo/Desktop/Data/Faltoons.csv")
df

    Weekdays Weekend
0       Male  Female
1     Female    Male
2     Female    Male
3       Male  Female
4     Female  Female
..       ...     ...
395   Female    Male
396   Female  Female
397   Female  Female
398   Female    Male
399   Female  Female

[400 rows x 2 columns]

In [3]:
df.Weekend.str.count('Male').sum()

167

In [4]:
df.Weekdays.str.count('Male').sum()

113

In [5]:
df.Weekdays.str.count('Female').sum()

287

In [6]:
df.Weekend.str.count('Female').sum()

233

In [7]:
female = np.array([287,233])
total = np.array([420,400])

In [9]:
import statsmodels.api

In [10]:
statsmodels.stats.proportion.proportions_ztest(female, total)

(2.9964248640358, 0.0027316554639882896)

- The p value is less than 0.05

**NULL HYPOTHESIS IS REJECTED**